ion-header button,
.back-button {
  position: absolute !important;
  z-index: 5;

  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  //  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

canvas {
  // height: -200px;
  width: 100%;
  height: 100%;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-content {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-tab-bar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-menu-toggle {
  --background: transparent;
  --ion-color-base: transparent !important;
}
