<ion-header no-border> </ion-header>

<ion-content>
  <div ion-fixed class="fixed-content">
    <div class="row row-center">
      <div class="col col-center">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-12>
              <p style="text-align:center"></p>
            </ion-col>
          </ion-row>

          <ion-row justify-content-center>
            <ion-col col-12>
              <p style="text-align:center">
                <img class="logo" src="assets/img/logo.png" style="text-align: center;" alt="logo" />
              </p>
            </ion-col>
          </ion-row>

          <ion-row justify-content-center>
            <ion-col col-2></ion-col>
            <ion-col col-8>
              <h1 ion-text color="dark" style="text-align: center;">GUANGCAI</h1>
            </ion-col>
            <ion-col col-2></ion-col>
          </ion-row>

          <ion-row justify-content-center>
            <ion-col col-2></ion-col>
            <ion-col col-8>
              <h6 ion-text color="dark" style="text-align: center;">WebXR learning system</h6>
            </ion-col>
            <ion-col col-2></ion-col>
          </ion-row>

          <ion-row justify-content-center>
            <ion-col col-2></ion-col>
            <ion-col col-8>
              <button ion-item routerLink="/ar" routerLinkActive="active">
                <h6 ion-text color="dark" style="text-align: center;">AR</h6>
              </button>
            </ion-col>
            <ion-col col-2></ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer no-border> </ion-footer>
