<ion-split-pane contentId="main-content">
  <ion-menu type="overlay" contentId="main-content">
    <ion-content>
      <div ion-fixed>
        <div style="padding-top: 25px;">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col col-2></ion-col>
              <ion-col col-8>
                <img class="logo" src="assets/img/logo.jpg" style="text-align: center;" alt="logo" />
              </ion-col>
              <ion-col col-2></ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-col col-2></ion-col>
              <ion-col col-8>
                <h6 ion-text color="dark" style="text-align: center;">LIFTS</h6>
              </ion-col>
              <ion-col col-2></ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-col col-12>
                <h6 ion-text color="dark" style="text-align: center;">
                  Learning Interactively in Future Teaching Spaces
                </h6>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <ion-list>
          <ion-item
            ion-item
            *ngFor="let obj of presentations; index as i"
            (click)="appXService.dataPresentationIndexSet(i)"
          >
            <ion-grid>
              <ion-row>
                <ion-col col-2>
                  <h6 ion-text color="black">{{ obj.name }}</h6>
                </ion-col>
                <ion-col col-10>
                  <h6 ion-text color="black">{{ obj.description }}</h6>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>

        <div style="padding-top: 25px;">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col col-2></ion-col>
              <ion-col col-8> </ion-col>
              <ion-col col-2></ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
