.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}


ion-grid {

	padding-left:0;
	padding-right:0;

	

}

ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
  }

ion-row {


	
}

ion-col {
	
	

}