<ion-header no-border>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-toggle>
          <ion-icon name="menu" id="menubutton" size="large"></ion-icon>
        </ion-menu-toggle>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <h3 ion-text>LIFTS</h3>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="true">
        <ion-icon name="search" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid no-border>
    <ion-row>
      <ion-col style="border-style: none;background-color: #3880ff" size="2">
        <h6 ion-text style="color: white; text-align: center;">{{ presentation_data.name }}</h6>
      </ion-col>
      <ion-col style="border-style: none;background-color: #3880ff" size="8">
        <h3 ion-text style="color: white; text-align: center;">{{ presentation_data.title }}</h3>
        <p ion-text style="color: white; text-align: center;">{{ presentation_data.author }}</p>
      </ion-col>
      <ion-col style="border-style: none;background-color: #3880ff" size="2">
        <p ion-text style="color: white; text-align: center;">Edited: 20/01/2019</p>
      </ion-col>
    </ion-row>

    <br /><br />
    <ion-row class="ion-justify-content-center">
      <div *ngFor="let obj of analytics; index as i">
        <ion-chip disabled outline="true" color="primary">
          <p ion-text style="color: #3880ff; text-align: center;">{{ obj.description }}&emsp;</p>
          <ion-badge color="outline">{{ obj.value }}</ion-badge>
        </ion-chip>
      </div>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-item-divider> </ion-item-divider>
    </ion-row>
    <br /><br />

    <ion-row class="ion-justify-content-center">
      <br />
      <div *ngFor="let obj of ratings; index as i">
        <ion-chip disabled outline="true" color="primary">
          <p ion-text color="primary">{{ obj.description }}&emsp;</p>
          <star-rating
            value="{{ obj.value }}"
            totalstars="5"
            checkedcolor="#3880ff"
            uncheckedcolor="grey"
            size="24px"
            readonly="true"
            (rate)="onRate($event)"
          ></star-rating>
        </ion-chip>
      </div>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-item-divider> </ion-item-divider>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeLg="6" *ngFor="let obj of ratings; index as i">
        <ion-item detail>
          <ion-card button="true">
            <ion-card-header>
              <ion-card-subtitle>
                <ion-icon size="large" name="information-circle-outline"></ion-icon>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-label color="primary"
                  ><h2 ion-text style="color: #3880ff; text-align: left;">Slide 1 - Issue Here</h2></ion-label
                >
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-label color="black"
                >Too much text on this slide. Try and reduce the amount of bullet points.</ion-label
              >
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border>
  <div #footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar color="primary" slot="bottom">
          <ion-tab-button
            tab="home"
            size="small"
            menuClose
            [selected]="isSelectedTab('home')"
            (click)="navigateTo('/home')"
          >
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-tab-button>

          <ion-tab-button
            tab="import"
            size="small"
            menuClose
            [selected]="isSelectedTab('import')"
            (click)="navigateTo('/import')"
          >
            <ion-icon name="cloud-download"></ion-icon>
            <ion-label>Import</ion-label>
          </ion-tab-button>
          <ion-tab-button
            tab="analyse"
            size="small"
            menuClose
            [selected]="isSelectedTab('analytics')"
            (click)="navigateTo('/analytics')"
          >
            <ion-icon name="flask"></ion-icon>
            <ion-label>Analyse</ion-label>
          </ion-tab-button>
          <ion-tab-button
            tab="resolve"
            size="small"
            menuClose
            [selected]="isSelectedTab('resolve')"
            disabled
            (click)="navigateTo('/resolve')"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
            <ion-label>Resolve</ion-label>
          </ion-tab-button>
          <ion-tab-button
            tab="present"
            size="small"
            menuClose
            [selected]="isSelectedTab('present')"
            disabled
            (click)="navigateTo('/present')"
          >
            <ion-icon name="tv"></ion-icon>
            <ion-label>Present</ion-label>
          </ion-tab-button>
          <ion-tab-button
            tab="export"
            size="small"
            menuClose
            [selected]="isSelectedTab('export')"
            disabled
            (click)="navigateTo('/export')"
          >
            <ion-icon name="share-alt"></ion-icon>
            <ion-label>Export</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </div>
</ion-footer>
